*{
    font-family:'poppins';
    text-decoration: white;
    list-style: none;
    margin:0px;
    padding:0px;
    color:white;
}

body{

    background-color: rgb(1, 16, 24);
    
}
body img{
    width:100px;
}
.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(1, 25, 36);
    padding:3px;
    
}

.navbar input{

    padding: 10px;
    width: 45rem;
    border-radius: 50px;
}

.navbar input{

    justify-content: center;
}


.menu a{

    display: flex;
    gap:30px;
    
}
.menu {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
}

.menu img{

    width: 50px;
    border: 3px;
    border-color: rgb(2, 48, 70);
    border-radius: 50%;
    margin:30px;
}

.menug{

    display: block;
    margin:20px;
    background-color: rgb(1, 25, 36);
    padding:10px;
    width:30vh;
    justify-content: center;
    align-items: center;
    color:rgb(5, 71, 102);

}
.entete{
    position:absolute;
}

.m{
    top:85%;
    left: 28%;
    right: 40%;
    position: relative;
    display: flex;
    justify-content: center;
    padding: 10px;
    border: 2px;
    background-color: rgb(1, 25, 36);
    color: rgb(177, 177, 177);
    border-color: aqua;
    width: 119vh;
    align-items: center;
    gap: 80px;
    margin: 20px;
    border-radius: 4px;
   
}
.m.a{
    margin-bottom: 25px;
}

.post{

    position:relative;
    top:5%;
    left: 28%;
    right: 40%;
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
    gap:80px;
    background-color: rgb(1, 25, 36);;
    width: 119vh;
    margin:5px;
    color:rgb(1, 25, 36);
    border: 2px;
    border-radius: 4px;
}